Order Deny,Allow
Deny from all
Allow from 127.0.0.1
Allow from 192.168.
Allow from 172.16.
Allow from 213.179.230.201
Allow from 195.37.77.138
Allow from 195.248.170.246
#AuthName admin
#AuthUserFile /home/groups/atslog/htdocs/maillist/admin/.htpasswd
#AuthType Basic
#require valid-user
AddDefaultCharset WINDOWS-1251
